## Exercícios Cap02

In [13]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista1 = [1,2,3,4,5,6,7,8,9,10]
print(lista1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista2 = ['Gato', 'Cachorro', 'Leão', 'Pássaro', 'Tigre']
print(lista2)

['Gato', 'Cachorro', 'Leão', 'Pássaro', 'Tigre']

In [20]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
s1 = 'Eu tenho dois gatos'
s2 = 'Falcon e Floki'
s3 = s1 + ',' + " " + s2
print(s3)

Eu tenho dois gatos, Falcon e Floki

In [24]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla1 = (1,2,2,3,4,4,4,5)
tupla1.count(4)

3

In [27]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dic = {}
print(dic)

{}

In [28]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dic1 = {'Lili':4, 'Falcon':3, 'Floki':2}
print(dic1)

{'Lili': 4, 'Falcon': 3, 'Floki': 2}

In [30]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dic1['Thayane'] = 30
print(dic1)

{'Lili': 4, 'Falcon': 3, 'Floki': 2, 'Thayane': 30}

In [33]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
dic2 = {'Lili':4, 'Falcon':3, 'Floki':[2, 3]}
print(dic2)

{'Lili': 4, 'Falcon': 3, 'Floki': [2, 3]}

In [36]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
list3 = ['Eu amo gatos', (10, 5), {'Falcon':'3', 'Floki':'2'}, 30,5]
print(list3)

['Eu amo gatos', (10, 5), {'Falcon': '3', 'Floki': '2'}, 30, 5]

In [39]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[0:18]

'Cientista de Dados'